/* src/assets/styles/Join03.css */
.container {
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  height: 100vh; /* 전체 화면 높이 */
  background-image: url(C:\Users\Hoon\HIKERS\회원가입\HIKERS\hikers-web\src\assets\img\complete.jpg); /* 배경 이미지 설정 */
  background-size: cover; /* 이미지가 컨테이너를 완전히 덮도록 설정 */
  background-position: center; /* 이미지가 컨테이너의 중앙에 위치하도록 설정 */
  background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.container .check-icon {
  font-size: 3rem; /* 체크 아이콘 크기 조정 (작아짐) */
  color: #4caf50; /* 체크 아이콘 색상 */
  margin-bottom: 20px; /* 체크 아이콘과 인증 완료 사이의 간격 추가 */
}

.container .message {
  font-size: 2rem; /* 인증 완료 텍스트 크기 조정 */
  color: black; /* 인증 완료 텍스트 색상 (검은색) */
}