/* src/assets/styles/Home.css */
.start-container {
  padding:20px;
  margin-left:20px;

  }
  .phone-number-container{
    display: flex;

  }
  .phone-number{
    margin-right:10px;
    
  }
.continue{
  color:white;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  border:1px solid;
  border-radius: 30px;
  background-color: #97C793;
  width: 300px;
  margin-bottom: 20px;
  height: 50px;
  margin-top:100px;
  margin:auto;
  margin-top:200px;
}
.left-aligned{
  margin-right:auto;
  margin-left:10px;
}