.talking-container {
}

.talking-box {
  height: 44px;
  background-color: #e7f9f8;
  border-radius: 100px;
  /* display: flex; */
  line-height: 44px;
  /* align-items: center; */
  text-align: center;
  margin-bottom: 10px;
}

.talking-box::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #e7f9f8;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;

  rotate: 20deg;
  left: 10c;
}

.talking-text {
  color: #222;
  font-size: 13px;
  font-weight: 700;
}

.opposite {
  transform: scaleX(-1);
}

.talking.tail {
}

.talking-box select {
  padding: 6.4px 9.6px;
  border: none;
  border-radius: 4.8px;
}

.button-container {
  flex-direction: row;
  height: 100%;
  padding-left: 10px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.footer-container button {
  padding: 15px 40px;
  /* margin: 50px 20px 0 20px; */
  border-radius: 100px;
  border: none;
  font-size: 16px;
  margin: 0 15px 0 15px;
}

.footer-text {
  color: #6d6d6d;
  font-size: 13px;
}

.button-skip {
  background-color: #ccc;
  color: white;
}

.button-continue {
  background-color: #8fc48f;
  color: white;
  font-weight: bold;
}
